@{
    ViewBag.Title = "estringindovaloresnaonumericos";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2 class="well">Restringindo valores nao numericos</h2>

<form>
    <h3>Acessando IFRAMES</h3>
    <iframe src='@Html.ActionLink("Curso", "Iframe")' name="Iframe"></iframe>
</form>



<script type="text/javascript">
    $(document).ready(function () {

    });


</script>
<style type="text/css">

</style>