@{
    ViewBag.Title = "EventoMouse";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2>Evento de Mouse</h2>

<div id="d1">
    <p id="p1" class="p">
       
    </p>
    <p id="p2" class="p">
        Passeo o Mouse!
    </p>
   
</div>
<style type="text/css">
    .p{

        width: 250px; height: 120px;border: 3px dotted black;
        text-align: center; font-size:25pt;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#p2').click(function () {
            $('#p1').text('Click Event');
        }).dblclick(function () {
            $('#p1').text('Double Click Event');
        }).mousedown(function () {
            $('#p1').text('Mouse Down Event');
        });

        $('#p1').mouseup(function () {
            alert('Mouse Up Event');
        });

        $('#p1').mouseover(function () {
            alert('Mouse Over Event');
        }).mouseout(function () {
            alert('Mouse Out Event');
        });
    });
</script>