@{
    ViewBag.Title = "hierarquiasdeseletores";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2>hierarquias de seletores</h2>

<form>
    <label>Nome:</label>
    <input type="text" />
    <br />
    <label>Senha:</label>
    <input type="password" />
    <br />
    <label>Sexo</label>
    <br />
    <input type="radio" name="s" value="Masculino" />Masculino
    <br />
    <input type="radio" name="s" value="Feminino" />Feminino
    <br />
    <label>Arquivo</label>
    <input type="file" value="Escolher Arquivo" />
    <br />
    <label>Estado Cívil</label>
    <br />
    <input type="checkbox"  checked="checked"/>Casado<br />
    <input type="checkbox" />Solteiro<br />
    <input type="checkbox" />Viuvo<br />
    <input type="submit" value="Submit" />
    <input type="reset" value="Resete" />
    <input type="button" value="Button" />
    <br />
    <br />
    <br />
    <br />
    <select>
        <option>Brasil</option>
        <option>Portugal</option>
        <option>Alemanha</option>
        <option>Chile</option>
    </select>
    <br />
    <br />
    <textarea></textarea>
</form>
<style type="text/css">
    .Borda {
        border: 12px solid red;
        padding: 5px;
    }

    .Borda1 {
        border: 12px solid red;
        padding: 5px;
        background-color: red;
    }
    .Borda2 {
        border: 12px solid red;
        padding: 5px;
      
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(':button').addClass("Borda");
        $(':checkbox').addClass("Borda1");
        $(':checked').addClass("Borda2");
    });
</script>