@{
    ViewBag.Title = "ThemeRoller";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2 class="well">ThemeRoller</h2>


<link href="jquery-ui.css" rel="stylesheet">
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.structure.css" rel="stylesheet" />
